<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='nav navbar'>
      <ul class='nav pull-left'>
        <li>this will be a link</li>
        <li>another link</li>
        <li>and another</li>
      </ul>
  
      <ul class='nav pull-right'>
        <li>Logout</li>
  
        <li>Login</li>
        <li>Sign Up</li>
      </ul>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>  
  </div>
</body>
</html>
